@import '../../../styles/meta';

.container {
  margin-top: 50px;
  @extend %container_scroll;

  &_wishlist {
    display: flex;
    flex-wrap: wrap;
    height: 436px;
  }
}

.title {
  width: 206px;
  height: 39px;
  font-size: 30px;
  color: #000000;
  display: block;
  margin: 0 auto 20px auto;

  & i {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
}

.wishlist_empty {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: cornflowerblue;
}