@import 'FriendsSearch.part';

.container {
    margin-top: 25px;
    margin-bottom: 50px;
    &_title {
        width: 260px;
        height: 53px;
        font-size: 40px;
        color: $text;
        display: block;
        margin: 0 auto 25px auto;
        & i {
            width: 35px;
            height: 35px;
        }
    }
    &_input {
        width: 500px;
        height: 50px;
        border-radius: 25px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        display: block;
        margin: 25px auto 0 auto;
        &::placeholder {
            width: 235px;
            height: 48px;
            color: #dddddd;
        }
    }
}
