@import 'FriendWishListitem.part';
@import '../../../../styles/meta';

.item {
  margin-left: 50px;
  margin-bottom: 50px;
  width: 200px;

  & img {
    width: 200px;
    min-height: 188px;
  }

  &_name {
    @include item(16px, 15px);
  }

  &_price {
    @include item(12px, 5px);
  }

  &_description {
    @include item(10px, 5px);
    color: #b2b2b2;
  }

  &_favorites {
    @extend %button_delete;
    border: none;
    & i {
      width: 18px;
      height: 18px;
      margin-left: 5px;
    }
  }

  &_user {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    & img {
      width: 40px;
      min-height: 0;
      height: 40px;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
      border-radius: 20px;
    }
  }
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  width: 148px;
  height: 42px;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 5px;
  position: absolute;
  top: -140%;
  left: -170%;
  padding: 5px;
  text-align: center;
}

[data-tooltip]:hover::before {
  opacity: 1;
}