@import "../font/SFUIDisplay/font.css";

* {
  box-sizing: border-box;
}
.App {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
  font-family: 'SF UI Display';
  margin-top: 50px;
}

input {
  outline: none;
  padding-left: 25px;
}

button {
  outline: none;
}

a {
  text-decoration: none;
  color: #329eff;
}

a:link,a:visited,a:hover,a:active {
  color: #329eff;
}

