@import "../font/SFUIDisplay/font.css";

* {
  box-sizing: border-box;
}
.App {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  font-family: 'SF UI Display';
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #329eff;
  font-size: 24px;
}

input {
  outline: none;
  padding-left: 25px;
}

button {
  outline: none;
}

a {
  text-decoration: none;
  color: #329eff;
}

a:link,a:visited,a:hover,a:active {
  color: #329eff;
}

