@import 'Frienditem.part';
@import '../../../../styles/meta';

.container {
  display: flex;
  margin-bottom: 30px;
  & img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  &_item {
    margin-left: 25px;
    &_name {
      font-size: 25px;
      margin-bottom: 15px;
    }
    &_favorites {
      @extend %button_favorites;
      border: none;
      display: block;
      & a {
        font-size: 10px;
        color: #ffffff;
      }
    }
  }
}

