@font-face {
  font-family: 'JaapokkisubtractRegular';
  src: url('/fonts/enchanceweb/JaapokkienchanceRegular.woff2') format('woff2'),
      url('/fonts/enchanceweb/JaapokkisubtractRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JaapokkienchanceRegular';
  src: url('/fonts/enchanceweb/JaapokkienchanceRegular.woff2') format('woff2'),
      url('/fonts/enchanceweb/JaapokkienchanceRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



