* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

div.scores {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
  border: 2px dotted #ff0000;
  color: #ff0000;
  width: 400px;
  height: 40px;
}

.field {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #cccccc;
}

.excel {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 0.5px solid red;
} 

.snakeBody {
  background: url(/body.jpg);
  background-size: contain;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.snakeHead {
  background: url(/head.png);
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mouseBody {
  background: url(/mouse.jpg);
  background-size: contain;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}