@import '../../../styles/meta';
.box {
  margin-top: 50px;
}

.container {
    @extend %container_scroll;
    &_wishlist {
        display: flex;
        flex-wrap: wrap;
        height: 436px;
    }
}

.title {
  width: 206px;
  height: 39px;
  font-size: 30px;
  color: #000000;
  display: block;
  margin: 0 auto 25px auto;
  & i {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
}

